# EDA - Shopping data at the supermarket

## Table of Contents

1. [Introductionn](#Introduction)
2. [Importing necessary libraries](#importing-necessary-libraries)
3. [Loading dataset](#loading-dataset)
4. [Data Visualization](#data-visualization)
    - [Create revenue variable (Outcome)](#create-revenue-variable-(Outcome))
    - [Univariate Analysis](#univariate-analysis)
        - [Descriptive statistics for the variable](#descriptive-statistics-for-the-variable)
        - [Histogram](#histogram)
        - [Boxplot](#boxplot)
        - [Countplot](#countplot)
    - [Bivariate Analysis](#bivariate-analysis)
        - [Correlation heatmap](#correlation-heatmap)
        - [Scatter plots](#scatter-plots)
        - [Boxplot TotalPrice](#boxplot-totalPrice)
        - [Barplot](#barplot)
5. [The end](#the-end)

## Introduction

I am doing an EDA on a supermarket shopping dataset, and in this case, the analysis I want to perform will focus on the revenue of that supermarket. 

Therefore, the outcome I choose will be TotalPrice, calculated as Quantity multiplied by UnitPrice.

## Importing necessary libraries

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading dataset

In [5]:
df = pd.read_excel("Online Retail.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

## Data Visualization

### Create revenue variable (Outcome)

In [11]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

### Univariate Analysis